@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

:root {
  --cor-primaria: rgb(173, 240, 234);
  --cor-primaria-dark: rgb(48, 80, 77);
}

* {
  box-sizing: border-box;
  outline: none;
}

body {
  margin-top: 80px;
  padding: 0;
  background: var(--cor-primaria);
  font-family: 'EB Garamond';
  font-size: 1.4em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 0px auto;
  padding: 20px 40px;
  background: white;
  border-radius: 30px;


}

form input,
form label {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  height: 30px;
}

form button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 30px;
  border-radius: 15px;
  border: none;
  background: var(--cor-primaria);
  color: rgb(34, 38, 39);
  font-size: 18px;
  font-family: 'EB Garamond';
  cursor: pointer;
  margin-top: 18px;

}

form button:hover {
  background: var(--cor-primaria-dark);
  color: rgb(235, 235, 235);
}


form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--cor-primaria);

}

ul {
  display: flex;
  justify-items: auto;
  flex-wrap: wrap;
  padding: 0;
  margin: 5px;
}

p {
  display: block;
  font-size: 23px;
  margin: 5px;
}

h1 {
  margin-bottom: 15px;
}

h2 {
  margin: 25px 2px 2px 2px;
}

::placeholder {
  font-size: 20px;
  font-family: 'EB Garamond';
  opacity: 1;
}

.resultado {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  border: none;
  margin-top: 20px;

}

input[type="text"] {
  border: 1px solid rgb(180, 180, 180);
  border-radius: 20px;
}